/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

/**
 * Navigation list
 */
.c-nav__list {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}





/**
 * Navigation List item
 *
 * [1] Stateful 'current' version of navigation item.
 */
.c-nav__item {
    & + & {
        margin-left: spacer(1);
    }
}





/**
 * Navigation link
 */
.c-nav__link {
    display: block;
    color: color('link');

    .c-nav__item.is-current & {
        text-decoration: underline;
    }

}
