/*------------------------------------*\
    #FORMS
\*------------------------------------*/

input,
textarea,
select {
    border: 1px solid color('grey', '25');
    border-radius: 0;
    background: #fff;
}
