/*------------------------------------*\
    #IMAGES
\*------------------------------------*/

/**
 * [1] remove spacing below inline images.
 */
img {
    vertical-align: middle; // [1]
    margin: 0 0 spacer(1);
}





/**
 * Figure
 */
figure {
    margin: 0 0 spacer(1);
}





figcaption {
    font-size: em(12px);
    font-style: italic;
}
